{% extends 'website/base.html' %}

{% block title %}
    <title>Добавление товара</title>
{% endblock %}

{% block body %}
    <form method="POST">
    {% csrf_token %}
    <div class="form-floating mb-3">
        <input name="name" type="text" class="form-control" id="floatingInput" placeholder="Название товара" autocomplete="off" autofocus="autofocus">
        <label for="floatingInput">Название товара</label>
    </div>
    <div class="form-floating mb-3">
        <input name="description" type="text" class="form-control" id="floatingPassword"
               placeholder="Описание товара">
        <label for="floatingPassword">Описание товара</label>
    </div>
    <div class="form-floating mb-3">
        <input name="price" type="number" class="form-control" id="floatingPassword" placeholder="Цена">
        <label for="floatingPassword">Цена</label>
    </div>
    <button type="submit" class="btn btn-primary">Создать товар</button>
</form>
{% if error %}
    <h1>{{ error }}</h1>
{% endif %}
{% endblock %}
